In [2]:
# Importing libraries

from __future__ import print_function
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.metrics import classification_report
from sklearn import metrics
from sklearn import tree
import warnings
warnings.filterwarnings('ignore')

#algorithms
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier, AdaBoostClassifier, GradientBoostingClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score, classification_report,ConfusionMatrixDisplay, \
                            precision_score, recall_score, f1_score, roc_auc_score,roc_curve
from sklearn.model_selection import train_test_split
from sklearn.model_selection import GridSearchCV
import pickle

In [3]:
df = pd.read_csv('crop.csv', na_values="na")

In [4]:
df.head()

   Unnamed: 0   N   P   K  temperature   humidity        ph    rainfall label
0           0  90  42  43    20.879744  82.002744  6.502985  202.935536  rice
1           1  85  58  41    21.770462  80.319644  7.038096  226.655537  rice
2           2  60  55  44    23.004459  82.320763  7.840207  263.964248  rice
3           3  74  35  40    26.491096  80.158363  6.980401  242.864034  rice
4           4  78  42  42    20.130175  81.604873  7.628473  262.717340  rice

In [5]:
df.columns

Index(['Unnamed: 0', 'N', 'P', 'K', 'temperature', 'humidity', 'ph',
       'rainfall', 'label'],
      dtype='object')

In [6]:
df.drop('Unnamed: 0', axis =1, inplace = True)