In [5]:
# Importing Libraries
import numpy as np
import pandas as pd
from sklearn.metrics import accuracy_score
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import GridSearchCV
import pickle
import sklearn

In [10]:
dataset = pd.read_csv('Fertilizer Prediction.csv')

In [11]:
dataset.head()

,Temparature,Humidity,Moisture,Soil Type,Crop Type,Nitrogen,Potassium,Phosphorous,Fertilizer Name
0,26,52,38,Sandy,Maize,37,0,0,Urea
1,29,52,45,Loamy,Sugarcane,12,0,36,DAP
2,34,65,62,Black,Cotton,7,9,30,14-35-14
3,32,62,34,Red,Tobacco,22,0,20,28-28
4,28,54,46,Clayey,Paddy,35,0,0,Urea

In [12]:
dataset_copy = pd.read_csv('Fertilizer Prediction.csv')

In [13]:
dataset.shape

(99, 9)

In [14]:
dataset['Soil Type'].unique()

array(['Sandy', 'Loamy', 'Black', 'Red', 'Clayey'], dtype=object)

In [15]:
dataset.isnull().sum()

Temparature        0
Humidity           0
Moisture           0
Soil Type          0
Crop Type          0
Nitrogen           0
Potassium          0
Phosphorous        0
Fertilizer Name    0
dtype: int64

In [16]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99 entries, 0 to 98
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Temparature      99 non-null     int64
 1   Humidity         99 non-null     int64
 2   Moisture         99 non-null     int64
 3   Soil Type        99 non-null     object
 4   Crop Type        99 non-null     object
 5   Nitrogen         99 non-null     int64
 6   Potassium        99 non-null     int64
 7   Phosphorous      99 non-null     int64
 8   Fertilizer Name  99 non-null     object
dtypes: int64(6), object(3)
memory usage: 7.1+ KB

In [17]:
# categorical column
categorical_column = [col for col in dataset.columns if dataset[col].dtype== 'O']

In [18]:
categorical_column

['Soil Type', 'Crop Type', 'Fertilizer Name']

In [19]:
dataset['Soil Type'].value_counts()

Loamy     21
Sandy     20
Clayey    20
Black     19
Red       19
Name: Soil Type, dtype: int64

In [20]:
for i in categorical_column:
    print(i)
    print(dataset[i].unique())

Soil Type
['Sandy' 'Loamy' 'Black' 'Red' 'Clayey']
Crop Type
['Maize' 'Sugarcane' 'Cotton' 'Tobacco' 'Paddy' 'Barley' 'Wheat' 'Millets'
 'Oil seeds' 'Pulses' 'Ground Nuts']
Fertilizer Name
['Urea' 'DAP' '14-35-14' '28-28' '17-17-17' '20-20' '10-26-26']

In [21]:
def encode1(column_name):
    dict_lable = dict()
    labels_list = [lable for lable in dataset[column_name].unique()]   
    for i, label in enumerate(labels_list):
        dict_lable[label] = i
    return dict_lable

In [22]:
soil_type_dict =encode1('Soil Type')

In [23]:
soil_type_dict

{'Sandy': 0, 'Loamy': 1, 'Black': 2, 'Red': 3, 'Clayey': 4}

In [24]:
dataset['Soil Type'] = dataset['Soil Type'].replace(soil_type_dict)

In [25]:
crop_type_dict = encode1('Crop Type')

In [26]:
crop_type_dict

{'Maize': 0,
 'Sugarcane': 1,
 'Cotton': 2,
 'Tobacco': 3,
 'Paddy': 4,
 'Barley': 5,
 'Wheat': 6,
 'Millets': 7,
 'Oil seeds': 8,
 'Pulses': 9,
 'Ground Nuts': 10}

In [27]:
dataset['Crop Type'] = dataset['Crop Type'].replace(crop_type_dict)

In [28]:
fertilizer_dict = encode1('Fertilizer Name')

In [29]:
fertilizer_dict

{'Urea': 0,
 'DAP': 1,
 '14-35-14': 2,
 '28-28': 3,
 '17-17-17': 4,
 '20-20': 5,
 '10-26-26': 6}

In [30]:
dataset['Fertilizer Name'] = dataset['Fertilizer Name'].replace(fertilizer_dict)

In [31]:
dataset.columns

Index(['Temparature', 'Humidity ', 'Moisture', 'Soil Type', 'Crop Type',
       'Nitrogen', 'Potassium', 'Phosphorous', 'Fertilizer Name'],
      dtype='object')

In [32]:
dataset.head()

,Temparature,Humidity,Moisture,Soil Type,Crop Type,Nitrogen,Potassium,Phosphorous,Fertilizer Name
0,26,52,38,0,0,37,0,0,0
1,29,52,45,1,1,12,0,36,1
2,34,65,62,2,2,7,9,30,2
3,32,62,34,3,3,22,0,20,3
4,28,54,46,4,4,35,0,0,0

In [33]:
##seperating dependent independent features
X = dataset.drop('Fertilizer Name', axis = 1)
y = dataset['Fertilizer Name']

In [34]:
## Normalization

In [35]:
from sklearn.model_selection import train_test_split

In [36]:
X_train, X_test, y_train, y_test = train_test_split(
...     X, y, test_size=0.33, random_state=42)

In [37]:
from sklearn.preprocessing import StandardScaler

In [38]:
scaler = StandardScaler()

In [39]:
scaled_X_train = scaler.fit_transform(X_train)

In [40]:
scaled_X_test = scaler.transform(X_test)

In [41]:
pickle.dump(scaler, open('standard_scaler.pkl', "wb"))